.contactComponent {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contact-title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.contact-form {
    width: 100%;
    margin: 40px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-message {
    width: 90%;
    padding: 2%;
    margin: 2% 0;
    height: 7.5rem;
    border-radius: 5px;
    border: 2px solid white;
    background: none;
    color: white;
}

.input-message::placeholder {
    color: white;
}

.input-plan {
    width: 95%;
    padding: 2%;
    height: 4rem;
    border-radius: 5px;
    border: 2px solid white;
    background: none;
    color: white;
    margin: 2% 0%;
}

.contact-info-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info-div-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-name,
.input-email,
.input-company {
    width: 90%;
    padding: 2%;
    height: 2rem;
    margin: 2% 0;
    border-radius: 5px;
    border: 2px solid white;
    background: none;
    color: white;
}

.input-name::placeholder,
.input-email::placeholder,
.input-company::placeholder {
    color: white;
}

.input-name {
    text-transform: capitalize;
}

.contact-submit-button-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.send-button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    height: 2rem;
    margin: 2% 0;
    border-radius: 5px;
    border: 1px solid grey;
    transition: transform 0.3s, box-shadow 0.3s, background-color;
    cursor: pointer;
}

.send-button:hover {
    transform: translateX(-5px);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
    background-color: blue;
    color: white;
    font-weight: 600;
}

@media (min-width: 724px) {
    .main-contact-div {
        width: 70%;
    }

    .contact-form {
        flex-direction: row;
        align-items: flex-start;
    }

    .message-div {
        width: 50%;
        align-items: flex-start;
    }


    .contact-info-div {
        width: 50%;
    }


}