.bannerComponent{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: left;
    background-image: url("../../../public/images/FondoPNGPrueba.png");
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 

}

canvas{
    height: 100vh !important;
}

.titleHomeDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bannerName{
    font-size: 48px;
    letter-spacing: 6px;
    margin: 0px;
    font-weight: 500;
    z-index: 3;
    text-shadow: 2px -3px 4px rgba(0,0,0,0.75);
}

.bannerSlogan{
    font-size: 39px;
    margin: 0px;
    font-weight: 300;
    z-index: 3;
    text-shadow: 2px -3px 4px rgba(0,0,0,0.75);
}

.bannerButton{
    width: 200px;
    height: 2rem;
    border: 0px;
    border-radius: 5px;
    font-family: "Abel", sans-serif;
    font-size: 1.3rem;
    margin-top: 30px;
    font-weight: bold;
    z-index: 3;
}

.bannerImageDiv{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    bottom: 0px;
    width: 100%;
}

.stellarShip {
    width: 200px;
    bottom: 100px;
    right: 10px;
    position: relative;
}

@media screen and (min-width : 425px) {
    .bannerComponent{
        background-position: left;
        width: 100vw;
    }
    
    .bannerImageDiv{
        position: absolute;
        display: flex;
        justify-content: flex-end;
        bottom: 0px;
        width: 100%;
    }
    
    .stellarShip {
        width: 250px;
        bottom: 70px;
        right: 50px;
        position: relative;
    }
}

@media screen and (min-width : 768px) {
    .bannerImageDiv{
        position: absolute;
        display: flex;
        justify-content: flex-end;
        bottom: 0px;
        width: 100%;
    }
    
    .stellarShip {
        width: 250px;
        bottom: 250px;
        right: 40px;
        position: relative;
    }

    .titleHomeDiv{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .bannerComponent {
        width: 100vw;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        margin: 0;
        align-items: start;
    }

    .bannerName{
        font-size: 4.5rem;
        letter-spacing: 2px;
        margin: 0px;
        font-weight: 500;
        text-shadow: 2px -3px 4px rgba(0,0,0,0.75);
    }

    .bannerSlogan{
        font-size: 2.8rem;
        margin: 0px;
        font-weight: 300;
        text-shadow: 2px -3px 4px rgba(0,0,0,0.75);
    }

    .bannerButton{
        width: 300px;
        height: 3rem;
        margin-top: 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;

    }

    .bannerButton:hover{
        background-color: rgb(177, 177, 177);
    }
    
}

@media screen and (min-width : 1060px) {
    .stellarShip {
        width: 260px;
        bottom: 250px;
        right: 400px;
        position: relative;
    }  

    .bannerComponent{
        background-position: right;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat; 
    }
}
