.plansComponent {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.homePlansDiv {
        width: 100%;
        height: 83%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
}

.plansHomeTitleDiv {
    height: 7%;
    margin-top: 1%;
    padding-top: 10px;
}

.plansTitle {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}

/* Main Text Plan */
.plansHomeName {
    margin: 0;
}

.plansHomeDescription {

    font-size: 10px;
    color: #00F0E2;
}

.plansHomeServiceIncludes {
    margin: 2% 0%;
    font-size: 0.75rem;
    color: #00F0E2;
}

/* Main Text Plan */

.homePlansInfoPriceDiv {
    display: flex;
    margin: 3% 0px;
    width: 100%;
    justify-content: space-around;
}

.homePlansInfMeetoDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.homePlans {
    width: 40%;
    height: 28%;
    background: rgba(56, 46, 46, 0.62);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 2%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.plansStartingPriceTitle {
    margin: 0;
    font-size: 0.70rem;
}

.plansStartingPriceNumber {
    margin: 0px;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.plansLinkMeet {
    font-size: 0.7rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgba(70, 27, 122, 0);
    border: 1px solid white;
    padding: 5% 6%;
    border-radius: 5px;
}
.plansLinkMeet:hover {
    text-decoration: underline;
}

@media screen and (min-width : 425px) {
    .plansHomeName {
        margin: 0;
    }
    .plansHomeDescription {
        font-size: 12px;
    }
    .plansHomeServiceIncludes {
        font-size: 12px;
    }
    .plansStartingPriceTitle {
        font-size: 12px;
    }
    .plansStartingPriceNumber {
        font-size: 12px;
    }
    .plansLinkMeet {
        font-size: 12px;
    }

    .homePlans{
        height: 27%;
    }

    .homePlansDiv{
        height: 75%
    }
}
@media screen and (min-width : 768px) {
    .plansHomeName {
        margin: 0;
        font-size: 2rem;
    }
    .plansComponent {
        margin: 0;
    }

    .homePlans {
        width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
    /* Text */
    .plansHomeDescription {
        font-size: 14px;
    }
    .plansHomeServiceIncludes {
        font-size: 14px;
    }
    .homePlansInfoPriceDiv{
        width: 60%;
        margin: 4% 0;
    }
    .plansStartingPriceTitle {
        font-size: 10px;
    }
    .plansStartingPriceNumber {
        font-size: 10px;
    }

    .plansHomeTitleDiv{
        padding-top: 2%;
    }
    .plansLinkMeet {
        font-size: 10px;
    }

    .homePlansInfMeetoDiv {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width : 1060px) {
    .homePlansInfoPriceDiv{
        width: 55%;
    }
    .plansHomeDescription {
        font-size: 16px;
    }
    .plansHomeServiceIncludes {
        font-size: 16px;
    }
    .plansStartingPriceTitle {
        font-size: 12px;
    }
    .plansStartingPriceNumber {
        font-size: 12px;
    }

    .homePlans{
        height: fit-content;
    }

    .plansLinkMeet {
        font-size: 12px;
    }
}
@media screen and (min-width : 1400px) {
    .homePlansInfoPriceDiv{
        width: 50%;
    }
    .plansHomeDescription {
        font-size: 18px;
    }
    .plansHomeServiceIncludes {
        font-size: 18px;
    }
    .plansStartingPriceTitle {
        font-size: 14px;
    }
    .plansStartingPriceNumber {
        font-size: 15px;
    }
    .plansLinkMeet {
        font-size: 14px;
    }
}