.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: rgb(177 227 205 / 97%);
    padding: 20px;
    border-radius: 5px;
    color: black;
  }
  
  button {
    margin-top: 10px;
    cursor: pointer;
  }

  .popupCloseDiv{
    display: flex;
    justify-content: flex-end;
  }

  .popupCloseBtn{
    font-size: 2.5rem;
    cursor: pointer;
  }

  .popupCloseBtn:hover{
    color: red;
  }

  .popupPlanName{
    margin: 0px;
    font-size: 2.5rem;
  }
  