.homeComponent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--Fondo, linear-gradient(180deg, #1A073B 63.5%, #000 100%));
    overflow-y: none
    ;
}

.navSection{
    position: sticky;
    bottom: 20px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.navLink{
    font-size: 1.4rem;
    cursor: pointer;
}
.navLink.active {
    color: green; /* Color for the active link */
  }

.navLink:hover{
    color: rgb(165, 166, 167);
}